<mat-spinner *ngIf="loading"></mat-spinner>

<mat-card *ngIf="!loading && product == null"><mat-icon>mood_bad</mat-icon> <br> Producto no disponible</mat-card>

<mat-card *ngIf="!loading && product != null">   
    <div class="image">
        <img mat-card-image src="{{product.image}}">
    </div>
    <div class="details">
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.category}} | <span><mat-icon class="rating">star</mat-icon>{{product.rating.rate}} ({{product.rating.count}})</span></mat-card-subtitle>
        <h1 class="price" >{{product.price | currency:'ARS'}}</h1>

        <p>{{product.description}}</p>
        
        <button mat-raised-button color="primary" [disabled]="!isLogin" (click)="comprar()"><mat-icon>shopping_cart</mat-icon> Comprar</button>
    </div>
</mat-card>