<p *ngIf="isLogin">
    <mat-icon>emoji_emotions</mat-icon>
    Usted ya se encuentra en el sistema
</p>

<form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!isLogin">

    <h1>Login</h1>
    
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput>
        </mat-form-field>
        
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.dirty">
            Debe ingresar un email valido
        </div>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password"
                [ngClass]="{error:loginForm.get('password')?.hasError('required') && loginForm.get('password')?.dirty,warning:loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.dirty}">
        </mat-form-field>
        
        <div *ngIf="loginForm.get('password').errors && loginForm.get('password')?.dirty">
            <p *ngIf="loginForm.get('password')?.hasError('required')">El campo es obligatorio</p>
            <p *ngIf="loginForm.get('password')?.hasError('minlength')">Debe tener al menos 8 caracteres</p>
        </div>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>